<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="app">
        <div  ng-controller="ctrl">
            
            <label for="slcOrdenar">Ordenar por:</label>
            <select id="slcOrdenar" ng-model="ordenarPor">
                <option value="nombre">Nombre</option>
                <option value="apellido">Apellido</option>
                <option value="documento.numero">Número de documento</option>
            </select>
            
            <table>
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
                <tr ng-repeat="estu in estudiantes | orderBy: ordenarPor">
                    <td>{{estu.documento.tipo + ' - ' + estu.documento.numero}}</td>
                    <td>{{estu.nombre}}</td>
                    <td>{{estu.apellido}}</td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js" ></script>

        <script type="text/javascript">
                angular.module("app", [])
                        .controller("ctrl", ['$scope', function ($scope) {
                                $scope.ordenarPor = 'nombre';
                                
                                $scope.estudiantes = [
                                    {
                                        documento: {
                                            tipo: 'CC',
                                            numero: '23423423'
                                        },
                                        nombre: 'Pablo',
                                        apellido: 'Bastidas'
                                    },
                                    {
                                        documento: {
                                            tipo: 'CC',
                                            numero: '345345'
                                        },
                                        nombre: 'Juan',
                                        apellido: 'Ortiz'
                                    },
                                    {
                                        documento: {
                                            tipo: 'CC',
                                            numero: '123123'
                                        },
                                        nombre: 'Sergio',
                                        apellido: 'Morales'
                                    }
                                ];
                            }]);

        </script>
    </body>
</html>
